**`Citranika Sejati`**

## **CAOT Test Case**

#### OTE Project Solana (COps Data Tech Revamp) Unilever Indonesia - Technical Test Section

#### **Transforming Data with Python**

**1. Import library**

In [1]:
# Import the library
import pandas as pd

**2. Load the data**

In [2]:
# Load input data from the Excel file to the DataFrame
df_fbl5n = pd.read_excel('CAOT Test Case _ Final.xlsx', sheet_name = 'Input Data - FBL5N')
df_cust_hierarchy = pd.read_excel('CAOT Test Case _ Final.xlsx', sheet_name = 'Input Data - Cust Hierarchy')
df_holiday = pd.read_excel('CAOT Test Case _ Final.xlsx', sheet_name = 'Input - Holiday')
df_report_date = pd.read_excel('CAOT Test Case _ Final.xlsx', sheet_name = 'Input - Report Date', header = None, names = ['Report Date'])

# Display the input DataFrame for quick data exploration
display(df_fbl5n, df_cust_hierarchy, df_holiday, df_report_date)

,Company Code,Account,Billing Document,Document Number,Document type,Posting Key,Debit/Credit ind,Assignment,Document Date,Special G/L ind.,...,Sales Document,Vendor,Customer,Reference,Text,Clearing Document,Clearing date,Arrears after net due date,Reference Key 1,Reference Key 2
0,2408,15061017,NaN,3400015095,DZ,15,H,20230201,2023-02-01,NaN,...,NaN,NaN,15061017,683040,683040,3.400015e+09,2023-02-01,0,NaN,NaN
1,2408,15061063,NaN,3400015047,DZ,15,H,20230201,2023-02-01,NaN,...,NaN,NaN,15061063,682951,682951,3.400015e+09,2023-02-01,0,NaN,NaN
2,2408,15061820,NaN,3400014851,DZ,17,H,20230201,2023-02-01,NaN,...,NaN,NaN,15061820,NaN,NaN,3.400015e+09,2023-02-01,0,NaN,NaN
3,2408,15061820,NaN,3400015201,DZ,15,H,20230201,2023-02-01,NaN,...,NaN,NaN,15061820,683007,683007,3.400015e+09,2023-02-01,0,NaN,NaN
4,2408,15062513,NaN,3400014901,DZ,15,H,20230201,2023-02-01,NaN,...,NaN,NaN,15062513,683067,683067,3.400015e+09,2023-02-01,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2808,2408,15553734,NaN,3400016437,DZ,6,S,3030844985,2023-02-05,NaN,...,NaN,NaN,15553734,NaN,Short paid as on 04.02.20223,NaN,NaT,1,NaN,NaN
2809,2408,15553734,NaN,3400016437,DZ,8,S,20230205,2023-02-05,NaN,...,NaN,NaN,15553734,NaN,NaN,3.400016e+09,2023-02-05,0,NaN,NaN
2810,2408,15612480,3.030839e+09,3400016445,DZ,6,S,3030839439,2023-02-05,NaN,...,NaN,NaN,15612480,685413,NaN,NaN,NaT,3,NaN,NaN
2811,2408,15612948,3.030868e+09,3400016441,DZ,6,S,3030867523,2023-02-05,NaN,...,NaN,NaN,15612948,685409,NaN,NaN,NaT,-2,NaN,NaN
2812,2408,15635966,3.030855e+09,3400016446,DZ,6,S,3030855023,2023-02-05,NaN,...,NaN,NaN,15635966,685414,NaN,NaN,NaT,0,NaN,NaN

,Customer,Customer Name,Banner,TFL2,SFL3,SFL4,SFL5,SRL2,SRL3,SRL4,...,DOM CDM Lvl 1,DOM CDM Lvl 2,DOM CDM Lvl 1 New,DOM CDM Lvl 2 New,Cust MT Plan,NDM TYPE,CF Spv,CF Spec,AM,CFS
0,14990000,###### ######### #########,XIWLCVCA EHQW SCAVWCC,XIWlCvCA CZIcCAI - CxpZAE,ZEhCAs,ZEHCAS,ZEHCA,EHQWLQIY,EHQWLQIY,EHQWLQIY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14990005,XIWLCVCA IV,XIWLCVCA WIYZICSWQ EKK.,XIWlCvCA CZIcCAI - CxpZAE,ZEhCAs,ZEHCAS,ZEHCA,WIYZICSWQ,WIYZICSWQ,WIYZICSWQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14990013,XQPL SO (XSPL EZLL QSWQ CYC),XIWLCVCA SWIOQPZAC,XIWlCvCA CZIcCAI - CxpZAE,ZEhCAs,ZEHCAS,ZEHCA,SWIOQPZAC,SWIOQPZAC,SWIOQPZAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14990032,"XIWLCVCA SCAVWCCS (HCCCW) CZ., LEY","XIWLCVCA SCAVWCCS (HCCCW) CZ., LEY",XIWlCvCA CZIcCAI - CxpZAE,ZEhCAs,ZEHCAS,ZEHCA,CHWIQ,CHWIQ,CHWIQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14990044,"XIWLCVCA CHWIQ CZ.,LEY, SHQIOHQW KA","XIWLCVCA CHWIQ CZ.,LEY, SHQIOHQW KA",XIWlCvCA CZIcCAI - CxpZAE,ZEhCAs,ZEHCAS,ZEHCA,CHWIQ,CHWIQ,CHWIQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20863,98682999,PE SCKQAIXSQ KQAXIQ,PE SCKQAIXSQ KQAXIQ AXIOKXE,YWSEAWKXEWVC EAQYC,CWASE LCVCL AEG PQAEICA-WH,YWSEAWKXEZA,OE YWSEAWKXEZA,JQWQ EWGXA,SXAQKQYQ SZXEH,SXAQKQYQ SZXEH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20864,98684001,PE. PQIQHGQS YWWEQGQ YWSEAWIYZ,PQIQHGQS,YWSEAWKXEWVC EAQYC,CWASE LCVCL AEG PQAEICA-WH,YWSEAWKXEZA,GE YWSEAWKXEZA,JQWQ EWGXA,KQIYXWQIOW,KQIYXWQIOW,...,NaN,NaN,NaN,NaN,NaN,LMT,Ruth.Palupi@unilever.com,Noer.Ariefah@Unilever.com,Ruth.Palupi@unilever.com,Noer.Ariefah@Unilever.com
20865,98684999,PE.PQIQHGQS YWWEQGQ YWSEAWIYZ,PE.PQIQHGQS YWWEQGQ YWSEAWIYZ,YWSEAWKXEWVC EAQYC,CWASE LCVCL AEG PQAEICA-WH,YWSEAWKXEZA,GE YWSEAWKXEZA,JQWQ EWGXA,SXAQKQYQ SZXEH,SXAQKQYQ SZXEH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20866,98991001,CV. KQAYQSQAW XEQGQ,KQAYQ SQAW XEQGQ LZGKZK,YWSEAWKXEWVC EAQYC,CWASE LCVCL AEG PQAEICA-WH,YWSEAWKXEZA,GE YWSEAWKXEZA,IXSQ ECIOOQAQ KQAQE,LZGKZK,LZGKZK,...,NaN,NaN,NaN,NaN,NaN,LMT,Oditia.Giyarini@unilever.com,Nawangjati.Denok@unilever.com,Oditia.Giyarini@unilever.com,Nawangjati.Denok@unilever.com
20867,98991999,CV.KQAYQ SQAW XEQGQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

      Holiday
0  2023-01-01
1  2023-02-02
2  2023-02-28
3  2023-03-03
4  2023-04-15
5  2023-05-01
6  2023-05-02
7  2023-05-03
8  2023-05-16
9  2023-05-26
10 2023-06-01
11 2023-07-09
12 2023-07-30
13 2023-08-17
14 2023-10-08
15 2023-12-25

  Report Date
0  2023-02-07

**3. Join the DataFrame**

In [3]:
# Select the specified columns from the df cust_hierarchy and rename them adjusted for output
df_custhi = df_cust_hierarchy[['Customer', 'Customer Name', 'TFL2', 'Customer Channel', 'SWL2', 'SWL3', 'Banner']]
df_custhi.columns = ['Customer', 'Customer Name', 'Trade Format Lv2', 'Channel', 'Sales Workforce Lv2', 'Sales Workforce Lv3', 'Banner Name']

# Perform merge and concat between df fbl5n and df cust_hierarchy
df = pd.merge(df_fbl5n.iloc[:, :2], df_custhi, how = 'left', left_on = 'Account', right_on = 'Customer')
df.drop(columns = 'Customer', inplace = True)
df = pd.concat([df, df_fbl5n.iloc[:, 2:]], axis = 1)

# Display the df DataFrame for quick overview
df.head()

,Company Code,Account,Customer Name,Trade Format Lv2,Channel,Sales Workforce Lv2,Sales Workforce Lv3,Banner Name,Billing Document,Document Number,...,Sales Document,Vendor,Customer,Reference,Text,Clearing Document,Clearing date,Arrears after net due date,Reference Key 1,Reference Key 2
0,2408,15061017,PE. SXGKCA QLCQAWQ EAWJQYQ YC KQIYX,GZYCAI EAQYC,MT,CYG GWIWGQAKCE,KQG QLCQGQAE,QLCQGQAE,NaN,3400015095,...,NaN,NaN,15061017,683040,683040,3.400015e+09,2023-02-01,0,NaN,NaN
1,2408,15061063,PE. EXLXS GQJX,YWSEAWKXEWVC EAQYC,UFS,AKG CCIEAQL,QKG CQSECAI JQKQAEQ,PE. EXLXS GQJX,NaN,3400015047,...,NaN,NaN,15061063,682951,682951,3.400015e+09,2023-02-01,0,NaN,NaN
2,2408,15061820,CLQIYYS GQAE,GZYCAI EAQYC,MT,ASG ZXECA WSLQIY,KXH KQLW,CLQIYYS GQAE,NaN,3400014851,...,NaN,NaN,15061820,NaN,NaN,3.400015e+09,2023-02-01,0,NaN,NaN
3,2408,15061820,CLQIYYS GQAE,GZYCAI EAQYC,MT,ASG ZXECA WSLQIY,KXH KQLW,CLQIYYS GQAE,NaN,3400015201,...,NaN,NaN,15061820,683007,683007,3.400015e+09,2023-02-01,0,NaN,NaN
4,2408,15062513,CV. XSQHQ JQYQ QKQYW,YWSEAWKXEWVC EAQYC,DT,ASG ZXECA WSLQIY,QSG PZIEWQIQK,XSQHQ JQYQ,NaN,3400014901,...,NaN,NaN,15062513,683067,683067,3.400015e+09,2023-02-01,0,NaN,NaN

In [4]:
# Check the null value in the specified columns
df.isnull().sum().iloc[2:8]

Customer Name          0
Trade Format Lv2       1
Channel                0
Sales Workforce Lv2    1
Sales Workforce Lv3    1
Banner Name            1
dtype: int64

**4. Fillna specified columns**

In [5]:
# Fill the null value on the specified columns with 'Not Found', then check them again
df.iloc[:, 2:8] = df.iloc[:, 2:8].fillna('Not Found')
df.isnull().sum().iloc[2:8]

Customer Name          0
Trade Format Lv2       0
Channel                0
Sales Workforce Lv2    0
Sales Workforce Lv3    0
Banner Name            0
dtype: int64

**5. Create Exclude column**

In [6]:
# Make a function to label the Exclude column with conditional rules
def exclude(row):
    if 'CITDUMMY' in str(row['Reference Key 1']).upper():
        return row['Reference Key 1']
    elif row['Amount in local currency'] > 0:
        return 'Positive Value'
    elif row['Local Currency'] != 'IDR' or row['Document currency'] != 'IDR':
        return 'Not IDR'
    elif str(row['Document Number']).startswith('58'):
        return 'Reversal document'
    elif 'BNPPAY' in str(row['Reference']).upper() or 'BNPPAY' in str(row['Text']).upper():
        return 'BNPPAY'
    else:
        return None
    
# Create a new column called Exclude and apply the exclude function
df['Exclude'] = df.apply(exclude, axis = 1)

In [7]:
# Check the value_counts of Exclude column
df['Exclude'].value_counts()

Positive Value       1278
CITDUMMY              176
CITDUMMYUFS           105
Not IDR                 8
CITDUMMY-NKW            7
BNPPAY                  2
CITDUMMY UFS            2
Reversal document       2
Name: Exclude, dtype: int64

**6. Create Days column**

In [8]:
# Make a function to calculates the number of working days between two dates, excluding weekends and holidays
def networkdays_intl(start_date, end_date, weekends, holidays):
    dates = pd.date_range(start=start_date, end=end_date)
    weekdays = dates[~dates.dayofweek.isin(weekends)]
    workdays = weekdays[~weekdays.isin(holidays)]
    return len(workdays)

# Make a function to label the Days column with given conditions using networkdays_intl function
def days(row1, row2):
    weekends = [5, 6]
    holidays = df_holiday['Holiday'].tolist()
    if pd.isnull(row1['Clearing Document']):
        return max(0, networkdays_intl(row1['Document Date'], row2['Report Date'][0], weekends, holidays) -1)
    else:
        return max(0, networkdays_intl(row1['Document Date'], row1['Clearing date'], weekends, holidays) -1)
        
# Create a new column called Days and apply the days function
df['Days'] = df.apply(lambda row: days(row, df_report_date), axis = 1)

In [9]:
# Check the value_counts of Days column
df['Days'].value_counts()

0    2270
2     245
3     211
1      87
Name: Days, dtype: int64

**7. Create Ageing column**

In [10]:
# Make a function to label the Ageing column based on existing Excel formula
def ageing_raw(row):
    if row['Days'] <= -1:
        return '>2'
    else:
        if row['Days'] < 2:
            return '<2'
        else:
            if row['Days'] == 2:
                return '=2'
            else:
                if row['Days'] >= 3:
                    return '>2'

In [11]:
# With the domain knowledge and understanding the data, we can simplify the function
def ageing(row):
    if row['Days'] < 2:
        return '<2'
    elif row['Days'] == 2:
        return '=2'
    else:
        return '>2'

# Create a new column called Ageing and apply the ageing function
df['Ageing'] = df.apply(ageing, axis = 1)

In [12]:
# Check the value_counts of Ageing column
df['Ageing'].value_counts()

<2    2357
=2     245
>2     211
Name: Ageing, dtype: int64

**7. Create Clearing Status column**

In [13]:
# Make a function to label the Clearing Status column with conditional rules
def clearing_status(row):
    return 'Open' if pd.isnull(row['Clearing Document']) else 'Cleared'

# Create a new column called Clearing Status and apply the clearing_status function
df['Clearing Status'] = df.apply(clearing_status, axis = 1)

In [14]:
# Check the value_counts of Clearing Status column
df['Clearing Status'].value_counts()

Cleared    2285
Open        528
Name: Clearing Status, dtype: int64

#### **The Final DataFrame**

In [15]:
# Take a quick overview at the final DataFrame
df

,Company Code,Account,Customer Name,Trade Format Lv2,Channel,Sales Workforce Lv2,Sales Workforce Lv3,Banner Name,Billing Document,Document Number,...,Text,Clearing Document,Clearing date,Arrears after net due date,Reference Key 1,Reference Key 2,Exclude,Days,Ageing,Clearing Status
0,2408,15061017,PE. SXGKCA QLCQAWQ EAWJQYQ YC KQIYX,GZYCAI EAQYC,MT,CYG GWIWGQAKCE,KQG QLCQGQAE,QLCQGQAE,NaN,3400015095,...,683040,3.400015e+09,2023-02-01,0,NaN,NaN,Not IDR,0,<2,Cleared
1,2408,15061063,PE. EXLXS GQJX,YWSEAWKXEWVC EAQYC,UFS,AKG CCIEAQL,QKG CQSECAI JQKQAEQ,PE. EXLXS GQJX,NaN,3400015047,...,682951,3.400015e+09,2023-02-01,0,NaN,NaN,Positive Value,0,<2,Cleared
2,2408,15061820,CLQIYYS GQAE,GZYCAI EAQYC,MT,ASG ZXECA WSLQIY,KXH KQLW,CLQIYYS GQAE,NaN,3400014851,...,NaN,3.400015e+09,2023-02-01,0,NaN,NaN,None,0,<2,Cleared
3,2408,15061820,CLQIYYS GQAE,GZYCAI EAQYC,MT,ASG ZXECA WSLQIY,KXH KQLW,CLQIYYS GQAE,NaN,3400015201,...,683007,3.400015e+09,2023-02-01,0,NaN,NaN,None,0,<2,Cleared
4,2408,15062513,CV. XSQHQ JQYQ QKQYW,YWSEAWKXEWVC EAQYC,DT,ASG ZXECA WSLQIY,QSG PZIEWQIQK,XSQHQ JQYQ,NaN,3400014901,...,683067,3.400015e+09,2023-02-01,0,NaN,NaN,None,0,<2,Cleared
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2808,2408,15553734,JXAQOQI KZOZA CWPQIQS,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KZOZA CWPQIQS,NaN,3400016437,...,Short paid as on 04.02.20223,NaN,NaT,1,NaN,NaN,None,1,<2,Open
2809,2408,15553734,JXAQOQI KZOZA CWPQIQS,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KZOZA CWPQIQS,NaN,3400016437,...,NaN,3.400016e+09,2023-02-05,0,NaN,NaN,Positive Value,0,<2,Cleared
2810,2408,15612480,JXAQOQI KQAQWQIO CWKXQYQ,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KQAQWQIO CWKXQYQ,3.030839e+09,3400016445,...,NaN,NaN,NaT,3,NaN,NaN,None,1,<2,Open
2811,2408,15612948,JXAQOQI KZOZA CWSQAXQ,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KZOZA CWSQAXQ,3.030868e+09,3400016441,...,NaN,NaN,NaT,-2,NaN,NaN,Positive Value,1,<2,Open
2812,2408,15635966,JXAQOQI KQAQWQIO CWQGPCL,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KQAQWQIO CWQGPCL,3.030855e+09,3400016446,...,NaN,NaN,NaT,0,NaN,NaN,Positive Value,1,<2,Open

**Save Output to Excel**

In [16]:
# Save the DataFrame to an Excel file
df.to_excel('Output CAOT Test Case (Citranika Sejati).xlsx', index=False)

#### **GroupBy Final DataFrame**

**1. By Exclude field - Count of row**

In [17]:
# Group the DataFrame by column Exclude
df.groupby('Exclude', dropna = False)['Billing Document'].size()

Exclude
BNPPAY                  2
CITDUMMY              176
CITDUMMY UFS            2
CITDUMMY-NKW            7
CITDUMMYUFS           105
Not IDR                 8
Positive Value       1278
Reversal document       2
NaN                  1233
Name: Billing Document, dtype: int64

In [18]:
# Create a DataFrame to match the given Output file
by_exclude = pd.DataFrame({'Count of Billing Document': df['Exclude'].value_counts(dropna = False)}).reset_index().sort_values('index')
by_exclude.loc[len(by_exclude)] = ['Grand Total', by_exclude['Count of Billing Document'].sum()]
by_exclude.rename(columns={'index': 'Row Labels'}, inplace = True)
by_exclude.set_index('Row Labels', inplace=True)
by_exclude

                   Count of Billing Document
Row Labels
BNPPAY                                     2
CITDUMMY                                 176
CITDUMMY UFS                               2
CITDUMMY-NKW                               7
CITDUMMYUFS                              105
Not IDR                                    8
Positive Value                          1278
Reversal document                          2
None                                    1233
Grand Total                             2813

**2. By Channel - Count of Days ≤ 2 days**

In [19]:
# Define new DataFrame based on the given conditions
df_condition = df[(df['Exclude'].isnull()) & ((df['Ageing'] == '=2') | (df['Ageing'] == '<2'))]

# Create a DataFrame to match the given Output file
by_channel = pd.DataFrame({'count': df_condition['Channel'].value_counts(dropna = False)}).reset_index().sort_values('index')
by_channel.loc[len(by_channel)] = ['Grand Total', by_channel['count'].sum()]
by_channel.rename(columns={'index': 'Row Labels', 'count': 'Count of Billing Document'}, inplace = True)
by_channel.set_index('Row Labels', inplace=True)
by_channel

             Count of Billing Document
Row Labels
DT                                 536
IC                                 277
MT                                 324
Others                               1
U-PRO                                9
UFS                                 41
Grand Total                       1188

#### **Compare with Output file**

In [20]:
# Load the Output file to verify the transformation DataFrame
output = pd.read_excel('CAOT Test Case _ Final.xlsx', sheet_name = 'Output', index_col = None)
output.columns = output.iloc[4]
output = output.drop([0,1,2,3,4])
output.reset_index(drop=True)

4,Company Code,Account,Customer Name,Trade Format Level 2,Channel,Sales Workforce Lv2,Sales Workforce Lv3,Banner Name,Billing Document,Document Number,...,Text,Clearing Document,Clearing date,Arrears after net due date,Reference Key 1,Reference Key 2,Exclude,Days,Ageing,Clearing Status
0,2408,15061017,PE. SXGKCA QLCQAWQ EAWJQYQ YC KQIYX,GZYCAI EAQYC,MT,CYG GWIWGQAKCE,KQG QLCQGQAE,QLCQGQAE,NaN,3400015095,...,683040,3400015095,2023-02-01 00:00:00,0,NaN,NaN,Not IDR,0,<2,Cleared
1,2408,15061063,PE. EXLXS GQJX,YWSEAWKXEWVC EAQYC,UFS,AKG CCIEAQL,QKG CQSECAI JQKQAEQ,PE. EXLXS GQJX,NaN,3400015047,...,682951,3400015047,2023-02-01 00:00:00,0,NaN,NaN,Positive Value,0,<2,Cleared
2,2408,15061820,CLQIYYS GQAE,GZYCAI EAQYC,MT,ASG ZXECA WSLQIY,KXH KQLW,CLQIYYS GQAE,NaN,3400014851,...,NaN,3400014851,2023-02-01 00:00:00,0,NaN,NaN,NaN,0,<2,Cleared
3,2408,15061820,CLQIYYS GQAE,GZYCAI EAQYC,MT,ASG ZXECA WSLQIY,KXH KQLW,CLQIYYS GQAE,NaN,3400015201,...,683007,3400015201,2023-02-01 00:00:00,0,NaN,NaN,NaN,0,<2,Cleared
4,2408,15062513,CV. XSQHQ JQYQ QKQYW,YWSEAWKXEWVC EAQYC,DT,ASG ZXECA WSLQIY,QSG PZIEWQIQK,XSQHQ JQYQ,NaN,3400014901,...,683067,3400014901,2023-02-01 00:00:00,0,NaN,NaN,NaN,0,<2,Cleared
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2808,2408,15553734,JXAQOQI KZOZA CWPQIQS,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KZOZA CWPQIQS,NaN,3400016437,...,Short paid as on 04.02.20223,NaN,NaN,1,NaN,NaN,NaN,1,<2,Open
2809,2408,15553734,JXAQOQI KZOZA CWPQIQS,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KZOZA CWPQIQS,NaN,3400016437,...,NaN,3400016437,2023-02-05 00:00:00,0,NaN,NaN,Positive Value,0,<2,Cleared
2810,2408,15612480,JXAQOQI KQAQWQIO CWKXQYQ,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KQAQWQIO CWKXQYQ,3030839439,3400016445,...,NaN,NaN,NaN,3,NaN,NaN,NaN,1,<2,Open
2811,2408,15612948,JXAQOQI KZOZA CWSQAXQ,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KZOZA CWSQAXQ,3030867523,3400016441,...,NaN,NaN,NaN,-2,NaN,NaN,Positive Value,1,<2,Open
2812,2408,15635966,JXAQOQI KQAQWQIO CWQGPCL,YWSEAWKXEWVC EAQYC,IC,ASG SCAX,QSG SCAX 2,JXAQOQI KQAQWQIO CWQGPCL,3030855023,3400016446,...,NaN,NaN,NaN,0,NaN,NaN,Positive Value,1,<2,Open

In [21]:
# value_counts of the Exclude field from the given Output file
display(output['Exclude'].value_counts())

# value_counts of the Exclude column from the transformation DataFrame
display(df['Exclude'].value_counts())

Positive Value       1278
CITDUMMY              176
CITDUMMYUFS           105
Not IDR                 8
CITDUMMY-NKW            7
BNPPAY                  2
CITDUMMY UFS            2
Reversal document       2
Name: Exclude, dtype: int64

Positive Value       1278
CITDUMMY              176
CITDUMMYUFS           105
Not IDR                 8
CITDUMMY-NKW            7
BNPPAY                  2
CITDUMMY UFS            2
Reversal document       2
Name: Exclude, dtype: int64

In [22]:
# value_counts of the Days field from the given Output file
display(output['Days'].value_counts())

# value_counts of the Days column from the transformation DataFrame
display(df['Days'].value_counts())

0    2270
2     245
3     211
1      87
Name: Days, dtype: int64

0    2270
2     245
3     211
1      87
Name: Days, dtype: int64

In [23]:
# value_counts of the Ageing field from the given Output file
display(output['Ageing'].value_counts())

# value_counts of the Ageing column from the transformation DataFrame
display(df['Ageing'].value_counts())

<2    2357
=2     245
>2     211
Name: Ageing, dtype: int64

<2    2357
=2     245
>2     211
Name: Ageing, dtype: int64

In [24]:
# value_counts of the Clearing Status field from the given Output file
display(output['Clearing Status'].value_counts())

# value_counts of the Clearing Status column from the transformation DataFrame
display(df['Clearing Status'].value_counts())

Cleared    2285
Open        528
Name: Clearing Status, dtype: int64

Cleared    2285
Open        528
Name: Clearing Status, dtype: int64